body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    margin: 0;
}

input, button {
    padding: 3px;
    font-size: 10px;
    border: none;
}

button {
    background: #FF1493;
    cursor: pointer;
}

h1, h2, h3 {
    margin: 5px;
}
